<h1>Cambiar Contraseña</h1>

<%= form_with model: @user, url: update_password_path, method: :patch do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibió que este usuario sea guardado:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :current_password, 'Contraseña Actual' %>
    <%= form.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= form.label :password, 'Nueva Contraseña' %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'Confirmar Contraseña' %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit 'Cambiar Contraseña' %>
  </div>
<% end %>