<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <title>Nuevo Grupo de Secciones</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding-bottom: 80px;
    }
    .container {
      max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
      margin: 0 auto;
    }
    .field, .form-group {
      margin-bottom: 20px;
    }
    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }
    input[type="text"], input[type="number"], input[type="date"], .btn {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .btn-primary {
      background-color: #007bff;
      color: white;
    }
    .readonly {
      background-color: #f0f0f0; /* Fondo gris para campos de solo lectura */
      cursor: not-allowed; /* Cambia el cursor para indicar que no es editable */
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const form = document.querySelector("form");
      form.addEventListener("submit", function(event) {
        const requiredFields = ["section_group_n_seats", "section_group_cost", "travel_date_input"];
        let valid = true;
        let errorMessage = "Por favor, complete todos los campos.";

        // Check required fields
        requiredFields.forEach(function(fieldId) {
          const field = document.getElementById(fieldId);
          if (!field.value) {
            valid = false;
            field.style.borderColor = "red";
          } else {
            field.style.borderColor = "";
          }
        });

        // Check that travel date matches day of the week
        const dayOfWeek = "<%= @section_group.day %>";
        const travelDateInput = document.getElementById("travel_date_input");

        const daysMap = {
          'Sunday': 'Domingo',
          'Monday': 'Lunes',
          'Tuesday': 'Martes',
          'Wednesday': 'Miércoles',
          'Thursday': 'Jueves',
          'Friday': 'Viernes',
          'Saturday': 'Sábado'
        };

        const reverseDaysMap = {
          'Domingo': 0,
          'Lunes': 1,
          'Martes': 2,
          'Miércoles': 3,
          'Jueves': 4,
          'Viernes': 5,
          'Sábado': 6
        };

        travelDateInput.addEventListener("input", function() {
          const selectedDate = new Date(this.value);
          const selectedDay = selectedDate.getUTCDay();

          if (selectedDay !== reverseDaysMap[dayOfWeek]) {
            valid = false;
            this.style.borderColor = "red";
            errorMessage = `Solo puedes seleccionar ${dayOfWeek}.`;
          } else {
            this.style.borderColor = "";
          }
        });

        if (!valid) {
          event.preventDefault();
          alert(errorMessage);
        }
      });
    });

  document.addEventListener("DOMContentLoaded", function() {
    const costSelect = document.getElementById("cost-select");
    const customCostContainer = document.getElementById("custom-cost-container");
    const customCostInput = document.getElementById("custom-cost-input");

    costSelect.addEventListener("change", function() {
      if (this.value === "otro") {
        customCostContainer.style.display = "block";
        customCostInput.value = "";
        customCostInput.focus();
      } else {
        customCostContainer.style.display = "none";
        customCostInput.value = this.value;
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function() {
    flatpickr(".timepicker", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "h:i K", // Formato 12 horas con AM/PM
      time_24hr: false
    });
  });

  document.addEventListener("DOMContentLoaded", function() {
    var travelDateInput = document.getElementById("travel_date_input");
    var dayInput = document.getElementById("day_input");

    travelDateInput.addEventListener("change", function() {
      var dateValue = this.value;
      if (dateValue) {
        var dateObj = new Date(dateValue);
        if (!isNaN(dateObj)) {
          var dayNames = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];
          var dayIndex = dateObj.getDay();
          <% if @itinerary %>
            // Si existe un itinerario, se espera un día específico
            var expectedDayStr = "<%= @section_group.day %>"; // Por ejemplo, "Lunes"
            var expectedDayIndex = dayNames.indexOf(expectedDayStr);
            if (dayIndex !== expectedDayIndex) {
              alert("La fecha seleccionada no corresponde al día " + expectedDayStr + ". Por favor seleccione una fecha válida.");
              // Limpiamos los campos para forzar una nueva selección
              this.value = "";
              dayInput.value = "";
            } else {
              // Si coincide, autocompleta el campo "Día de la semana"
              dayInput.value = dayNames[dayIndex];
            }
          <% else %>
            // En caso de creación excepcional, simplemente autocompleta el campo
            dayInput.value = dayNames[dayIndex];
          <% end %>
        }
      }
    });
  });

  </script>
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Nuevo Viaje</h1>

    <%= form_with(model: @section_group, local: true) do |form| %>
      <% if @section_group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@section_group.errors.count, "error") %> prohibieron que el viaje se guardara:</h2>

          <ul>
            <% @section_group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @itinerary %>
        <%= form.hidden_field :itinerary_id, value: @itinerary.id %>
      <% end %>


      <div class="form-group">
        <%= form.label :n_seats, 'Numero de asientos' %>
        <%= form.select :n_seats, asiento_options, { prompt: 'Selecciona la cantidad de asientos disponibles' }, { class: 'form-control', id: 'section_group_n_seats' } %>
      </div>

      <div class="field">
        <%= form.label :cost, 'Precio (Por Pasajero)' %>
        <%= form.select :cost, [["1000", 1000], ["1500", 1500], ["2000", 2000], ["2500", 2500], ["Otro...", "otro"]], 
            { prompt: 'Seleccione un precio' }, 
            { class: 'form-control', id: 'cost-select' } %>

        <!-- Input oculto para monto personalizado -->
        <div id="custom-cost-container" style="display: none; margin-top: 10px;">
          <%= form.number_field :cost, min: 1, class: "form-control", id: "custom-cost-input", placeholder: "Ingrese su monto" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :travel_date, 'Fecha del calendario', class: 'form-label' %>
        <%= form.text_field :travel_date, id: 'travel_date_input', class: 'form-control' %>
      </div>

      <% if @itinerary %>
      <%# ITINERARIO PREVIO %>
        <div class="field">
          <%= form.label :h_start, 'Hora de inicio' %>
          <%= form.text_field :h_start, value: @section_group.h_start, readonly: true, class: 'readonly' %>
        </div>
      
        <div class="field">
          <%= form.label :h_end, 'Hora de llegada' %>
          <%= form.text_field :h_end, value: @section_group.h_end, readonly: true, class: 'readonly' %>
        </div>

        <div class="field">
          <%= form.label :day, 'Dia de la semana' %>
          <%= form.text_field :day, value: @section_group.day, readonly: true, class: 'readonly' %>
        </div>

        <div class="field">
          <%= form.label :starting_place_id, 'Punto de partida' %>
          <%= form.text_field :starting_place_name, value: Place.find(@section_group.starting_place_id).name, readonly: true, class: 'readonly' %>
          <%= form.hidden_field :starting_place_id, value: @section_group.starting_place_id %>
        </div>
      
        <div class="field">
          <%= form.label :ending_place_id, 'Destino' %>
          <%= form.text_field :ending_place_name, value: Place.find(@section_group.ending_place_id).name, readonly: true, class: 'readonly' %>
          <%= form.hidden_field :ending_place_id, value: @section_group.ending_place_id %>
        </div>
      <% else %> 
      <%# SIN ITINERARIO PREVIO %>

        <%= form.label :h_start, 'Hora de inicio' %>
        <%= form.text_field :h_start, value: @section_group.h_start, class: 'form-control timepicker' %>

        <%= form.label :h_end, 'Hora de llegada' %>
        <%= form.text_field :h_end, value: @section_group.h_end, class: 'form-control timepicker' %>


      <div class="field">
        <%= form.label :day, 'Día de la semana' %>
        <%= form.text_field :day, value: @section_group.day, class: 'form-control', id: 'day_input', readonly: true %>
      </div>


        <div class="field">
          <%= form.label :starting_place_id, 'Punto de partida' %>
          <%= form.collection_select :starting_place_id, @places, :id, :name, { prompt: 'Seleccione un lugar' }, { class: 'form-control' } %>
        </div>

        <div class="field">
          <%= form.label :ending_place_id, 'Destino' %>
          <%= form.collection_select :ending_place_id, @places, :id, :name, { prompt: 'Seleccione un destino' }, { class: 'form-control' } %>
        </div>


      <% end %>


      <div class="actions">
        <%= form.submit 'Crear Viaje', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/navbar' %>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>
