<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    .bank-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-bottom: 20px;
    }
    .bank-info p {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      margin: 0;
      background-color: #f8f9fa; /* Color de fondo gris claro */
    }
    /* Estilos para el botón de copiar */
    .copy-button {
      background-color: #dcdcdc;
      border: none;
      color: #333; 
      padding: 8px 12px; /* Ajustar el espaciado interno */
      border-radius: 3px; /* Ajustar el radio del borde */
      cursor: pointer; /* Cambiar el cursor a un puntero */
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const deleteButton = document.querySelector('a[data-method="delete"]');
      const leaveButton = document.querySelector('a[data-method="leave"]');

      function checkFields(event) {
        const requiredFields = ["user_data_name", "user_data_rut", "user_account_type", "user_n_account", "user_banc", "user_data_email"];
        let valid = true;
        let errorMessage = "Por favor, complete todos los campos.";

        requiredFields.forEach(function(fieldId) {
          const field = document.getElementById(fieldId);
          if (!field || !field.textContent.trim()) {
            valid = false;
            field.style.borderColor = "red";
          } else {
            field.style.borderColor = "";
          }
        });

        if (!valid) {
          event.preventDefault();
          alert(errorMessage);
        }
      }

      if (deleteButton) {
        deleteButton.addEventListener("click", checkFields);
      }

      if (leaveButton) {
        leaveButton.addEventListener("click", checkFields);
      }
    });

    function copyPhoneNumber() {
      const phoneNumber = document.getElementById("phoneNumber").value;
      const tempInput = document.createElement("input");
      tempInput.value = phoneNumber;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      alert("Número de teléfono copiado al portapapeles.");
    }

    function copyBankInfo() {
      const dataName = document.getElementById("user_data_name").innerText.trim().replace("Nombre:", "");
      const dataRut = document.getElementById("user_data_rut").innerText.trim().replace("RUT:", "");
      const accountType = document.getElementById("user_account_type").innerText.trim().replace("Tipo de Cuenta:", "");
      const nAccount = document.getElementById("user_n_account").innerText.trim().replace("Número de Cuenta:", "");
      const banc = document.getElementById("user_banc").innerText.trim().replace("Banco:", "");

      const bankInfo = `${dataName}\n${dataRut}\n${banc}\n${accountType}\n${nAccount}`;

      const tempInput = document.createElement("textarea");
      tempInput.value = bankInfo;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      alert("Datos bancarios copiados al portapapeles.");
    }

  </script>
</head>
<body>
  <div class="container">
    <div class="card my-4">
      <div class="card-body">
        <h1 class="card-title">Detalles del Viaje</h1>
        <p class="card-text"><strong>Asientos:</strong> <%= @members_count %>/<%= @section_group.n_seats %></p>
        <p class="card-text"><strong>Fecha del Viaje:</strong> <%= @section_group.travel_date.strftime("%d/%m/%Y") %></p>
        <p class="card-text"><strong>Por favor transferir</strong> <%= @section_group.cost %> $</p>
        <div class="bank-info-title"><strong>A la siguiente cuenta bancaria:</strong><button onclick="copyBankInfo()" class="btn btn-light btn-sm copy-button"><i class="fas fa-copy"></i></button></div>
        <div class="bank-info">
          <p id="user_data_name"><strong>Nombre:</strong> <%= @user.data_name %></p>
          <p id="user_data_rut"><strong>RUT:</strong> <%= @user.data_rut %></p>
          <p id="user_account_type"><strong>Tipo de Cuenta:</strong> <%= @user.account_type %></p>
          <p id="user_n_account"><strong>Número de Cuenta:</strong> <%= @user.n_account %></p>
          <p id="user_banc"><strong>Banco:</strong> <%= @user.banc %></p>
          <p id="user_data_email"><strong>Email:</strong> <%= @user.data_email %></p>
        </div>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-body">
        <h2 class="card-title">Información del Piloto</h2>
        <p class="card-text"><strong>Nombre:</strong> <%= @pilot.name %></p>
        <p class="card-text"><strong>Teléfono:</strong> <%= @pilot.phone %> <button onclick="copyPhoneNumber()" class="btn btn-light btn-sm copy-button"><i class="fas fa-copy"></i></button>
        <input type="text" value="<%= @pilot.phone %>" id="phoneNumber" style="display: none;">
        <p class="card-text"><strong>Email:</strong> <%= @pilot.email %></p>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-body">
        <h2 class="card-title">Pasajeros</h2>
        <% if @members.any? %>
          <ul class="list-group list-group-flush">
            <% @members.each do |member| %>
              <li class="list-group-item"><%= member.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="card-text">No hay pasajeros.</p>
        <% end %>
      </div>
    </div>

    <div class="card my-4">
      <div class="card-body">
        <h2 class="card-title">Historial del Grupo</h2>
        <ul class="history-list">
          <% @section_group.section_group_histories.each do |history| %>
            <li class="history-item">
              <% if history.action == 'Salir' %>
                <%= history.user.name %> se ha salido
              <% elsif history.action == 'Entrar' %>
                <%= history.user.name %> se ha unido
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if @section_group.user_id == current_user.id %>
      <%= link_to 'Eliminar', delete_section_groups_path(@section_group.id), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-sm btn-danger custom-delete-btn' %>
    <% elsif @members.include?(current_user) %>
      <%= link_to 'Salir del Viaje', leave_section_groups_path(@section_group.id), method: :leave, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-warning' %>
    <% end %>

    <%= link_to 'Volver', request.referrer, class: 'btn btn-secondary' %>
  </div>
</body>
</html>
