<script>
  document.addEventListener("DOMContentLoaded", function() {
      const phoneInput = document.getElementById("user_phone");
      const phoneError = document.getElementById("phone-error");
      const submitButton = document.getElementById("submit-button");
      const form = document.querySelector('form');

      function validatePhoneNumber() {
        const phoneNumber = phoneInput.value.trim();
        if (phoneNumber.length !== 9 || !/^\d+$/.test(phoneNumber)) {
          phoneError.textContent = "El teléfono debe tener 9 dígitos.";
          phoneInput.classList.add("is-invalid");
          return false;
        } else {
          phoneError.textContent = "";
          phoneInput.classList.remove("is-invalid");
          return true;
        }
      }

      function enableSubmitButton() {
        submitButton.disabled = !(validatePhoneNumber());
      }

      function addPrefix() {
        const phoneNumber = phoneInput.value.trim();
        if (phoneNumber && phoneNumber.length === 9 && /^\d+$/.test(phoneNumber)) {
          phoneInput.value = "+56" + phoneNumber;
        }
      }

      phoneInput.addEventListener("input", function() {
        validatePhoneNumber();
        enableSubmitButton();
      });

      form.addEventListener('submit', function(event) {
        if (!validatePhoneNumber()) {
          event.preventDefault();
        } else {
          addPrefix();
        }
      });

      validatePhoneNumber();
      enableSubmitButton();
  });
</script>

<div class="container">
  <h1>Editar Perfil</h1>

  <%= form_with model: @user, url: update_profile_path, method: :patch, local: true do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@user.errors.count, "error") %> impidió que el usuario se registrara:</h4>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, "Nombre de usuario **", class: "form-label" %>
      <%= form.text_field :name, class: "form-control #{'is-invalid' if @user.errors[:name].any?}", required: true %>
      <div class="invalid-feedback">
        <%= @user.errors[:name].first %>
      </div>
    </div>

    <div class="mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">+56</span>
        </div>
        <%= form.telephone_field :phone, class: "form-control", required: true, id: "user_phone", value: @user.phone.sub(/^(\+56)/, '') %>
      </div>
      <div id="phone-error" class="invalid-feedback"></div>
    </div>

    <div class="border p-3 mb-3">
      <h2 class="mb-3">Datos Bancarios</h2>

      <div class="mb-3">
        <%= form.label :data_name, "Nombre", class: "form-label" %>
        <%= form.text_field :data_name, class: "form-control #{'is-invalid' if @user.errors[:data_name].any?}" %>
        <div class="invalid-feedback">
          <%= @user.errors[:data_name].first %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :data_rut, "Rut", class: "form-label" %>
        <%= form.text_field :data_rut, class: "form-control #{'is-invalid' if @user.errors[:data_rut].any?}" %>
        <div class="invalid-feedback">
          <%= @user.errors[:data_rut].first %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :account_type, "Tipo de cuenta", class: "form-label" %>
        <%= form.text_field :account_type, class: "form-control #{'is-invalid' if @user.errors[:account_type].any?}" %>
        <div class="invalid-feedback">
          <%= @user.errors[:account_type].first %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :n_account, "Número de cuenta", class: "form-label" %>
        <%= form.text_field :n_account, class: "form-control #{'is-invalid' if @user.errors[:n_account].any?}" %>
        <div class="invalid-feedback">
          <%= @user.errors[:n_account].first %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :banc, "Banco", class: "form-label" %>
        <%= form.text_field :banc, class: "form-control #{'is-invalid' if @user.errors[:banc].any?}" %>
        <div class="invalid-feedback">
          <%= @user.errors[:banc].first %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :data_email, "Email Banco", class: "form-label" %>
        <%= form.email_field :data_email, class: "form-control #{'is-invalid' if @user.errors[:data_email].any?}" %>
        <div class="invalid-feedback">
          <%= @user.errors[:data_email].first %>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <%= form.submit "Actualizar", class: "btn btn-primary", id: "submit-button" %>
    </div>
  <% end %>
</div>
